<html lang="en">
  {% include 'head' %}
  
  <body class="container-fluid">
    {% block body %}{% endblock %}

    <footer>
      <h3>
        Footer here!
      </h3>
    </footer>
  </body>
</html>