<html lang="en">
  
  <% include partials/head.ejs %>

  <body>
    
    <h1>
      Page content!
    </h1>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet quasi aspernatur numquam tenetur, recusandae odio perspiciatis autem. A sapiente neque dolorum, natus eligendi necessitatibus harum in ex beatae, recusandae, veritatis.
    </p>

    <% if (title) { -%>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi rerum, rem esse, aliquam ipsum inventore odio magni amet reiciendis expedita eos similique sit explicabo alias tempore neque, ea excepturi deserunt.
      </p>

      <p>
        Esse neque non facilis nulla harum molestiae cum earum vitae quaerat maiores beatae nisi quis laudantium delectus mollitia libero ullam accusamus suscipit itaque aperiam, quisquam, praesentium dolorem vel et explicabo.
      </p>

      <p>
        Molestiae sapiente esse ab voluptatem tempore illum culpa ad recusandae dignissimos, harum inventore sequi repellat, earum omnis vitae quod. Dicta similique incidunt explicabo architecto at enim, perspiciatis fugit itaque iste!
      </p>

      <p>
        Ab, iusto error nisi eligendi vitae omnis aperiam, earum possimus libero quasi voluptatum dignissimos similique deleniti ipsa quia impedit consequatur quidem? Recusandae, quasi. Magni repellendus mollitia veritatis modi, sequi quibusdam!
      </p>
    <% } -%>

  <% include partials/footer.ejs %>

  </body>
</html>