{% layout 'default' %}

{% block body %}

<h3>
  Page content!
</h3>

<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet quasi aspernatur numquam tenetur, recusandae odio perspiciatis autem. A sapiente neque dolorum, natus eligendi necessitatibus harum in ex beatae, recusandae, veritatis.
</p>

{% endblock %}
